mixin header-social
  .social
    a.social-link
      img(href="#" src="../blocks/header/__social/header__social-twitter.svg" alt="twitter")
    a.social-link
      img(href="#" src="../blocks/header/__social/header__social-instagram.svg" alt="instagram")
    a.social-link
      img(href="#" src="../blocks/header/__social/header__social-facebook.svg" alt="facebook")
