include ./-card/main__series-card
include ./-navigation/main__series-navigation
mixin series
   div.series
    +series-card('series-1','Серия #1', 'Начало конца')
    +series-card('series-2','Серия #2', 'Четыре знака')
    +navigation