@media (max-width:760px){
  .play{
    display: none;
  }
  .footer-content{
    flex-direction: column;
    align-items: flex-start;
  }
  .copyright{
    display: block;
    margin-bottom: 8px;
  }
  .footer-link:first-child{
    margin-left: 0;
  }
}
@media (max-width:540px) {
  .menu-button{
    display: block;
    width: 30px;
    height: 2px;
    background-color: $default-text-color;
    margin-top: 40px;
    margin-right: 35px;
  }
}