@media (max-width:760px) {
  .play{
    display: none;
  }
  .footer-content{
    flex-direction: column;
    align-items: flex-start;
  }
  .copyright{
    display: block;
    margin-bottom: 8px;
  }
  .footer-link:first-child{
    margin-left: 0;
  }
}

@media(max-width:540px){
  .menu-button{
    display: block;
    position: absolute;
    top:0;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: $default-text-color;
    margin-top: 40px;
    margin-right: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    &::before,
    &::after{
      content:"";
      display: block;
      width: 30px;
      height: 2px;
      background-color: $default-text-color;
      transition: 0.2s;
    }
    &::before{
      margin-top: -7px;
    }
    &::after{
      margin-top: 13px;
    }
  }
  .menu-button-active{
    
    height: 0;
    &::before{
      transform:rotate(45deg);
      margin-top: 0;
    }
    &::after{
      transform:rotate(-45deg);
      margin-top: -2px;
    }
  }
  .header{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    background-color: $default-secondary-color;
    flex-direction: column;
    padding-bottom: 40px;
  }
  .header-active{
    display: flex;
  }
  .logo{
    margin-bottom: 25px;
  }
  .menu-list{
    margin: auto;
  }
  .menu-link{
    margin-right: 0;
    margin-bottom: 17px;
  }
  .social-link:first-child{
    margin-left: 0;
  }
  .social{
    order:1;
    margin-bottom: 22px;
  }
  .menu-list{
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .swiper-container{
    width: 80%;
  }
}
