link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css")
include ./fancybox/layout.html