mixin rating-star-filled
  img(src="../blocks/main/__content/-rating/__star/star-filled.svg" alt="star")

mixin rating-star-empty
  img(src="../blocks/main/__content/-rating/__star/star-empty.svg" alt="star-empty")