@import "../colors/colors.scss";

@mixin fonts {
  * {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: $default-text-color;
  }
}

@font-face{
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles/MasonChronicles.ttf') format('truetype'),
       url('../fonts/MasonChronicles/MasonChronicles.woff') format('woff'),
       url('../fonts/MasonChronicles/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}