include ./__right/footer__right
include ./__left/footer__left
mixin footer
  footer.footer(class="animate__animated animate__fadeInUp")
    div.container
      .footer-content
        +footer-left
        +footer-right