include ../blocks/header/header
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    mta(name='viewport',
    content='width=device-width, inital-scale=1.0')
    link(rel="stylesheet" href="./index.scss")
    include ../fonts/fonts.html
    title The witcher
  body
    .container
      +header