include ../blocks/header/header
include ../blocks/main/main
include ../blocks/footer/footer
include ../blocks/menu-button/menu-button
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    mta(name='viewport',
    content='width=device-width, inital-scale=1.0')
    link(rel="stylesheet" href="./index.scss")
    script(type="text/javascript", src="../scripts/jquery/jquery-in-parcel.js")
    script(src="index.js")
    include ../fonts/fonts.html
    include ../scripts/layouts
    include ../scripts/scripts
    title The Witcher
  body
    .container
      +header
      +menu-button
    +main
    +footer
    