@import "../colors/colors.scss";
@import "../blocks/header/header.scss";
@import "../fonts/fonts.scss";
@include fonts;
@import "../blocks/main/main.scss";
@import "../blocks/footer/footer.scss";
@import "../blocks/menu-button/menu-button.scss";
@import "../blocks/adaptive/adaptive.scss";
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body{
  background-color: $default-background;
  min-height: 100vh;
  width: 100%;
  background-image: url("../blocks/main/main__background.jpg");
  background-repeat: no-repeat;
  background-position: top right 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container{
  width: 95%;
  max-width: 1140px;
  margin: auto;
}