mixin play
  button.play(data-fancybox href="https://www.youtube.com/watch?v=mlO1YaqXLqw&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="animate__animated animate__fadeInRight")
    img(src="../blocks/main/__play/main__play.svg" alt="play").play-image