@import "./-rating/main__content-rating.scss";
.genre{
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 16px;
}
.main-title{
  font-size: 76px;
  line-height: 89px;
  font-family: 'MasonChronicles', serif;
  font-style: normal;
  font-weight: 500;
}