include ./-rating/main__content-rating
mixin content
  span.genre 2019, фэнтези
  +content-rating
  h1.main-title Ведьмак
  p.main-description Ведьмак Геральт, мутант и убийца чудовищ, на своей верной лошади по кличке Плотва путешествует по Континенту. За тугой мешочек чеканных монет этот мужчина избавит вас от всякой настырной нечисти — хоть от чудищ болотных, оборотней и даже заколдованных принцесс. 
  button.button Смотреть онлайн