@import "./-rating/main__content-rating.scss";
.genre{
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 16px;
}
.main-title{
  font-size: 76px;
  line-height: 89px;
  font-family: 'MasonChronicles', serif;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 10px;
}
.main-description{
  max-width: 458px;
  font-size: 14px;
  line-height: 150%;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 40px;
}
.button{
  border-radius: 8px;
  background-color:$default-secondary-color;
  outline: none;
  border:none;
  padding: 22px 72px;
  cursor: pointer;
}