.menu-list{
  margin-right: auto;
  margin-left: 67px;
}
.menu-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color:$default-text-color;
  text-decoration: none;
  margin-right: 24px;
}