mixin series-card(additionalClass,subtitle,title)
  div.seriesWrapper(class="animate__animated animate__fadeInLeft")
    a(class= additionalClass, href="#").card
      span.card-subtitle= subtitle
      h2.card-title= title