@import "./__page-logo/header__page-logo.scss";
@import "./__menu-list/header__menu-list.scss";
@import "./__social/header__social.scss";
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}