include ./__star/main__content-rating__star
mixin content-rating
  .rating
    .rating-stars
      +rating-star-filled
      +rating-star-filled
      +rating-star-filled
      +rating-star-filled
      +rating-star-filled
      +rating-star-filled
      +rating-star-filled
      +rating-star-empty
      +rating-star-empty
      +rating-star-empty
    .rating-number 7/10